image_optimizer
certifi==2019.11.28
chardet==3.0.4
dataclasses==0.6
Django==2.2.7
django-adminlte2==0.4.1
django-adminlte3==0.1.0
django-crispy-forms==1.8.1
django-image-optimizer==1.0.0
djongo==1.2.38
idna==2.8
Pillow==6.2.1
pymongo==3.10.0
pytz==2019.3
requests==2.22.0
simplejson==3.17.0
sqlparse==0.2.4
tinify==1.5.1
urllib3==1.25.7
