{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans|Open+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <style>
        .post_container{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin: 10px auto;
        }
        .comment_container{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
            margin: 10px auto;
        }

        .zoom {
            transition: transform .2s; /* Animation */
        }

        .zoom:hover {
        {#transform: scale(4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */#}
        }
        .comment_div{
            height: 50vh;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .display_en{
            display: block;
            -webkit-animation: slide-down .3s ease-out;
            -moz-animation: slide-down .3s ease-out;        }
        .display_dis{
            display: none;
        }
        .text {
            overflow:hidden;

        }
        .height {
            max-height:50px;
        }mx-auto d-block w-100 px-0 col-lg-12 col-sm-12 col-md-12
        .heightAuto {
            max-height:5000px;
        }
    </style>

    <div class="container-fluid">
        <div class="row m-3">
            <img src="{% static 'images/bk_btn.png' %}" height="40px" width="40px" class="bk_btn"/>
        </div>
    </div>

    <div class="container-fluid mx-auto d-block w-100 px-0 col-lg-12 col-sm-12 col-md-12">
        {% csrf_token %}
        {#        <div class="row">#}
        {% for i in posts %}
            <div class="row mt-5 w-100 mx-auto d-block" data-aos="fade-zoom-in"
                 data-aos-easing="ease-in-back"
                 data-aos-delay="50"
                 data-aos-offset="0" >
                <div class="col col-lg-12 col-sm-12 col-md-12" style="width: 100%">
                    <h2 style="text-align: center; font-family: 'Open Sans', sans-serif; "><b>{{ i.title }}</b></h2>
                    <h3 style="text-align: center; font-family: 'Open Sans', sans-serif; " class="col-lg-8 col-sm-12 col-md-10 mx-auto d-block">{{ i.subtitle }}</h3>

                    <h5 style="text-align: justify; font-family: 'Montserrat', sans-serif;" class="display_dis" class="col-lg-10 col-sm-12 col-md-12 mx-auto d-block" id="p_{{ i.id }}">{{ i.content }}</h5>

                    <button class="btn btn-success d-block m-auto " onclick="readmore({{ i.id }})" id="readmore_btn_{{ i.id }}">Read more</button><br>
                    <button class="btn btn-outline-success m-auto d-block m-auto" id="likes_{{ i.id }}" onclick="like_submit({{ i.id }})" >
                        {% if i.likes.count > 1 %}
                            {{ i.likes.count }} Likes
                        {% elif i.likes.count == 1 %}
                            {{ i.likes.count }} Like
                        {% else %}
                            Like
                        {% endif %}
                    </button><br>
                    <div class="container-fluid p-0 m-auto d-block" style="text-align: center">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4 col-md-4" style="margin: 0">
                                <a href="{{ i.image1.url }}"><img src="{{ i.image1.url }}" height="300px" width="100%" alt="" class="rounded d-inline zoom img-responsive" style="margin: 0;"/></a>
                            </div>
                            {% if i.image2 %}
                                <div class="col-sm-12 col-lg-4 col-md-4" style="margin: 0">
                                    <a href="{{ i.image2.url }}"><img src="{{ i.image2.url }}" height="300px" width="100%" alt="" class="rounded d-inline zoom img-responsive" style="margin: 0"/></a>
                                </div>
                            {% endif %}
                            {% if i.image3 %}
                                <div class="col-sm-12 col-lg-4 col-md-4" style="margin: 0">
                                    <a href="{{ i.image3.url }}"><img src="{{ i.image3.url }}" height="300px" width="100%" alt="" class=" rounded d-inline zoom img-responsive" style="margin: 0"/></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-outline-dark d-block m-auto " onclick="comment_show({{ i.id }})" data-toggle="modal" data-target="#exampleModalLong">
                        Comments
                    </button><br>
                    <img src="{{ i.author.profile.image.url }}" width="100px" height="100px" class="rounded-circle mx-auto d-block" alt="user pic" />
                    <a href="#" style="text-decoration: none; color: #000; cursor: pointer; text-align: center; font-size: x-large; font-family: 'Source Sans Pro', sans-serif;" class="mx-auto d-block">
                        {{ i.author.first_name }} {{ i.author.last_name }}
                    </a><br>
                    {#                    <div class="container">#}
                    {#                        <div class="row" style="height: 500px;">#}
                    {#                            <div class="col col-lg-4 col-sm-12 col-md-4">#}
                    {#                                <a href="{{ i.image1.url }}"><img src="{{ i.image1.url }}" alt="project pic" class="rounded d-inline zoom"/></a>#}
                    {#                            </div>#}
                    {#                            {% if i.image2 %}#}
                    {#                                <div class="col col-lg-4 col-sm-12 col-md-4">#}
                    {#                                    <a href="{{ i.image2.url }}"><img src="{{ i.image2.url }}" alt="project pic" class="rounded d-inline zoom"/></a>#}
                    {#                                </div>#}
                    {#                            {% endif %}#}
                    {#                            {% if i.image3 %}#}
                    {#                                <div class="col col-lg-4 col-sm-12 col-md-4">#}
                    {#                                    <a href="{{ i.image3.url }}"><img src="{{ i.image3.url }}" alt="project pic"  class=" rounded d-inline zoom"/></a>#}
                    {#                                </div>#}
                    {#                            {% endif %}#}
                    {#                        </div>#}
                </div>

                {##}
                {#                    <a href=mailto:"{{ i.author.email }}"><small>{{ i.author.email }}</small></a>#}
                {#                                <button class="btn btn-sm d-block m-auto text-muted" onclick="comment_show({{ i.id }})">See All Comments<br><span id="span_btn_{{ i.id }}" class="fa fa-angle-down"></span></button><br/>#}
                {#                                <div id="span_{{ i.id }}" class="comment_div display_dis display_dis comment_container rounded">#}

            </div>

            {#            </div>#}
            {#            </div>#}
        {% endfor %}
        {#        </div>#}
    </div>
    <!-- Modal -->
    <div class="modal fade " id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><i style="font-size:24px" class="fa">&#xf27a;</i> Comments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>


                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="text" class="form-control comment-box d-inline col-sm-8 col-lg-8 col-md-8 mx-auto d-block" placeholder="Leave your comment" />
                    <button type="button" class="btn btn-outline-dark d-inline col-sm-4 col-md-2 col-lg-2 mx-auto d-block" onclick="submit_comment()">Send <i style="font-size:24px" class="fa">&#xf1d9;</i></button>
                    </div>
                    <div id="modal-comment-data"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            AOS.init();
        });
        function comment_show(id) {
            //let item = $('#span_'+id.toString()).toggleClass('display_dis');
            //if (!item.hasClass('display_dis')) {
            $('#span_btn_'+id.toString()).removeClass('fa-angle-down').addClass('fa-angle-up');
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                url: '/forum/get_comments/',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'id': id,
                },
                error: function () {
                    alert('Could not connect to server...');
                },
                success: function (response_ds) {
                    // console.log(response_ds);
                    // alert(response_ds.length);

                    var htm = Array();
                    htm.push('<div class="container m-3">');
                    for (i of response_ds) {
                        // console.log(i.content);
                        htm.push("<div class='row m-3'>" +
                            '<img width="50px" height="50px" class="rounded-circle" src="' + i.user_pic + '"/>' +
                            '<small class="m-2"><b>' + i.username + '</b></small><br/>' +
                            '<p class="m-2">' + i.content + '</p>'
                            + "</div>")
                    }
                    if (response_ds.length === 0){
                        htm.push('<small class="text-muted">No Comments</small>')
                    }
                    htm.push('</div>');
                    $('#modal-comment-data').html(htm.join(''));
                    $('.comment-box').attr('id', id.toString());
                }
            });
            /*} else {
                $('#span_btn_'+id.toString()).removeClass('fa-angle-up').addClass('fa-angle-down');
            }*/
        }

        function readmore(id) {
            let r = $('#p_'+id.toString());
            r.toggleClass('display_dis').toggleClass('display_en');
            if(r.hasClass('display_en')){
                // alert('rere');
                $('#readmore_btn_'+id.toString()).html('Read less');
            }
            else $('#readmore_btn_'+id.toString()).html('Read more');
        }

        function like_submit(id) {
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                url: '/forum/submit_like/',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'id': id,
                },
                error: function () {
                    alert('Could not connect to server...');
                },
                success: function (response_ds) {
                    // console.log(response_ds);
                    // alert(response_ds.is_done);
                    if(response_ds.is_done){
                        if (response_ds.tot_likes === 1) {
                            $('#likes_' + id.toString()).html(response_ds.tot_likes.toString() + ' Like');
                        } else if (response_ds.tot_likes > 1){
                            $('#likes_' + id.toString()).html(response_ds.tot_likes.toString() + ' Likes');
                        }
                    } else {
                        alert('Network Error');
                    }

                }
            });
        }

        function submit_comment() {
            const id = $('.comment-box').attr('id');
            const data = $('.comment-box').val();
            {#alert($('.comment-box').val() + id);#}

            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                url: '/forum/submit_comment/',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'id': id,
                    'data': data
                },
                error: function () {
                    alert('Could not connect to server...');
                },
                success: function (response_ds) {
                    // console.log(response_ds);
                    // alert(response_ds);
                    if (response_ds.is_done) {
                        comment_show(id);
                        $('.comment-box').val('');
                    } else {
                        alert("Server Error");
                    }

                }
            });

        }
    </script>
{% endblock content %}
